.header-padding-top {
	padding-top: 70px;
}

.padding-top {
	padding-top: 85px;
}

.ant-space {
    display: -moz-inline-box;
    display: inline-flex;
}

.ant-space-vertical {
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.ant-gap {
	gap: 50px;
}

.honestChat-question {
	width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
}

.honestChat-answers {
	text-align: left;
    display: flex;
    flex-direction: column;
}

.honestChat-answer {
	width: 100%;
    display: inline-flex;
    flex-direction: row;
}

.honestChat-profile-pic {
	background-size: contain;
}

.honestChat-profile-size {
	height: 200px;
	width: 200px;
}

.honestChat-container {
	display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.honestChat-comment-right {
	width: 100%;
    padding: 24px 48px;
    position: relative;
    background: #f7f7f7;
    border-radius: 24px;
    margin-right: 8px;
    display: -moz-box;
    display: flex;
    align-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}

.honestChat-comment-right:after {
	content: "";
    position: absolute;
    right: 0;
    top: 36px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: #f7f7f7;
    border-right: 0;
    margin-top: -13px;
    margin-right: -15px;
}

.honestChat-comment-left {
	width: 100%;
    padding: 24px 48px;
    position: relative;
    background: #f7f7f7;
    border-radius: 24px;
    margin-left: 8px;
    align-content: center;
    -moz-box-pack: center;
    justify-content: center;
}

.honestChat-comment-left:after {
	content: "";
    position: absolute;
    left: 0;
    top: 40px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #f7f7f7;
    border-left: 0;
    margin-top: 20px;
    margin-left: -15px;
}

h5.ant-typography {
    margin-bottom: unset;
    color: rgba(0,0,0,.85);
    font-weight: 600;
    font-size: 19px;
    line-height: 1.5;
}

.ant-typography {
    color: rgba(0,0,0,.85);
    overflow-wrap: break-word;
}

.honestChat-profile-ID {
	text-align: center;
	margin-top: 10px;
}

.honestChat-container-date {
	margin-top: 10px;
	margin-left: 30px;
}

.honestChat-container-date-right {
	text-align: right;
	margin-top: 10px;
	margin-right: 30px;
}

/*
.honestChat-answer-btn {
	text-align: right;
}
*/
